# Ambiente
NODE_ENV=development

# Servidor
PORT=3333

# Banco de dados PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ctrpe?schema=public"

# JWT
JWT_SECRET="troque-esta-chave-em-producao"
JWT_EXPIRES_IN="1d"

# Bcrypt
BCRYPT_SALT_ROUNDS=10

# CORS (descomente e ajuste para produção)
# CORS_ORIGIN="http://localhost:8081"
